.panel {
  background-color: #15232c;
  flex-grow: 0;
  display: flex;
  flex-flow: column;
  width: 645px;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

.sides {
  display: flex;
  flex-basis: 100%;
  flex-flow: row nowrap;
}

.side {
  border-spacing: 0px;
  flex-basis: 50%;
  width: calc(50% - 2px);
  box-sizing: border-box;
  margin: 0px 1px;
  thead {
    td {
      text-transform: uppercase;
      font-size: 12px;
      color: #aaa !important;
    }
  }
}

.row {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  td.count {
    text-align: center;
  }
}

.col {
  color: #f0f0f0;
  padding: 1px 10px;
  flex: 1;
  font: normal 14px Arial;
  text-align: right;
}

.bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid #555;
  height: 30px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  h3 {
    padding: 10px 0px 0px 20px;
    margin: 0px;
    font: normal 16px Arial !important;
    font-weight: normal;
    justify-self: flex-start;
    span {
      color: #888;
      font-size: 16px;
    }
  }
}
